@import "tailwindcss";

/* tailwind.css */
.input {
  @apply px-4 py-2 rounded-xl bg-gray-50 border border-gray-200 focus:ring-2 focus:ring-blue-500 outline-none;
}

.btn-primary {
  @apply px-4 py-2 rounded-xl bg-blue-600 text-white hover:bg-blue-700 transition;
}

.btn-secondary {
  @apply px-4 py-2 rounded-xl bg-gray-100 hover:bg-gray-200 flex items-center gap-2;
}

.btn-success {
  @apply px-6 py-2 rounded-xl bg-green-600 text-white hover:bg-green-700 transition;
}
